.wrapper {
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 15px;
    row-gap: 30px;
    width: 100%;
    max-width: 100%;
    place-items: center;
}

.content-item {
    position: relative;
    width: 418px;
    height: 418px;
    border-radius: 8px;
    border: 0 solid rgba(0,0,0,.125);
    box-shadow: 0 .125rem .375rem rgba(0,0,0,.05),0 .5rem 1.2rem rgba(0,0,0,.1);
    background-size: cover;
    size: 100%;
}
.content-item:first-child {
    background-image: url('../../assets/images/image1.png');
}
.content-item:nth-child(2) {
    background-image: url('../../assets/images/image2.png');
    
}.content-item:nth-child(3) {
    background-image: url('../../assets/images/image3.png');
}.content-item:nth-child(4) {
    background-image: url('../../assets/images/image4.png');
}.content-item:nth-child(5) {
    background-image: url('../../assets/images/image5.png');
}
.content-item:hover {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  
.describe {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}
.describe-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.describe-text {
    font-size: 16px;
    font-weight: 600;
}
.describe-icon {
    font-size: 16px;
    font-weight: 800;
}

.btn-gtt {
    position: fixed;
    left: 32px;
    bottom: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    cursor: pointer;
}

.icon-gtt {
    font-size: 14px;
    padding: 16px;
}

.btn-gtt:hover {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: #F8D000;
}

.btn-msg {
    position: fixed;
    right: 32px;
    bottom: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #0A7CFF;
    cursor: pointer;
}

.icon-msg {
    font-size: 30px;
    padding: 16px;
    color: #fff;
}