.wrapper {
    width: 100%;
    padding-bottom: 60px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.header-item:first-child {
    background-color: #F8D000;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15) !important;
}

.header-item-title {
    font-size: 18px;
    font-weight: 600;
}